[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Email Info
Name[af]=e-pos inligting
Name[be]=Інфармацыя аб паведамленьні электроннай пошты
Name[cs]=Informace o emailu
Name[da]=E-mail-info
Name[es]=Info de correo electrónico
Name[fi]=Sähköpostitiedot
Name[he]=מידע דוא"ל
Name[hr]=Email Informacije
Name[ja]=Eメール情報
Name[pt_BR]=Informações sobre E-Mail
Name[sv]=E-postinformation
Name[tr]=E-Posta Bilgisi
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_rfc822
MimeType=message/rfc822
PreferredGrous=Technical
PreferredItems=From,To,Subject,Date,Content-Type
