[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Bit Torrent Info
Name[br]=Titouriñ diwar-benn Bit Torrent
Name[ca]=Informació de Bit Torrent
Name[cs]=Bit Torrent informace
Name[da]=info om bit-torrent
Name[de]=Bit Torrent Informationen
Name[el]=Πληροφορίες Bit Torrent
Name[es]=Información Bit Torrent
Name[et]=Bit Torrenti info
Name[eu]=Bit-torrent informazioa
Name[fi]=Bit Torrent 
Name[fr]=Infos Bit Torrent
Name[he]=מידע ביטטורנט
Name[hi]=बिट टोरेंट जानकारी
Name[hu]=Bit Torrent-jellemzők
Name[is]=Bit Torrent upplýsingar
Name[it]=Informazioni Bittorrent
Name[ja]=Bit Torrent 情報
Name[lt]=Bit Torrent Informacija
Name[mk]=Информации за Bit Torrent
Name[nl]=Bittorent-informatie
Name[pl]=Informacja o Bit Torrent
Name[pt]=Informações Bit Torrent
Name[pt_BR]=Informações do Bit Torrent
Name[ro]=Informaţii Bit Torrent
Name[ru]=Сведения о BitTorrent
Name[sl]=Podatki o BitTorrentu
Name[sr]=Bit Torrent информације
Name[sr@Latn]=Bit Torrent informacije
Name[sv]=Information om Bit Torrent
Name[ta]=பிட் டோர்ரெண்ட் தகவல்
Name[tr]=Bit Torrent Bilgisi
Name[uk]=Інформація про Bit Torrent
Name[zh_CN]=BitTorrent 信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_torrent
# change MimeType here! (example: inode/directory)
MimeType=application/x-bittorrent
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=
