[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Bit Torrent Info
Name[el]=Πληροφορίες Bit Torrent
Name[fr]=Infos Bit Torrent
Name[x-test]=xxBit Torrent Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_torrent
# change MimeType here! (example: inode/directory)
MimeType=application/x-bittorrent
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=
