[Desktop Entry]
Type=Service
Name=Bit Torrent Info
Name[be]=Звесткі Bit Torrent
Name[bn]=বিট টোরেন্ট তথ্য
Name[br]=Titouriñ diwar-benn Bit Torrent
Name[bs]=Bit Torrent informacije
Name[ca]=Informació de Bit Torrent
Name[cs]=Bit Torrent informace
Name[da]=Info om bittorrent
Name[de]=Bit Torrent Informationen
Name[el]=Πληροφορίες Bit Torrent
Name[es]=Información Bit Torrent
Name[et]=Bit Torrenti info
Name[eu]=Bit-torrent informazioa
Name[fa]=اطلاعات جریان بیتی
Name[fi]=Bit Torrent 
Name[fr]=Infos Bit Torrent
Name[gl]=Información de Bit Torrent
Name[he]=מידע ביטטורנט
Name[hu]=Bit Torrent-jellemzők
Name[is]=Bit Torrent upplýsingar
Name[it]=Informazioni Bittorrent
Name[ja]=Bit Torrent 情報
Name[ka]=Bit Torrent ინფორმაცია
Name[kk]=Bit Torrent мәліметі
Name[km]=ព័ត៌មាន Bit Torrent
Name[lt]=Bit Torrent Informacija
Name[mk]=Информации за Bit Torrent
Name[nds]=BitTorrent-Info
Name[ne]=बिट टोरेन्ट सूचना
Name[nl]=Bittorent-informatie
Name[nn]=Bit Torrent-info
Name[pa]=Bit Torrent ਜਾਣਕਾਰੀ
Name[pl]=Informacja o Bit Torrent
Name[pt]=Informações Bit Torrent
Name[pt_BR]=Informações do Bit Torrent
Name[ro]=Informaţii Bit Torrent
Name[ru]=Сведения о BitTorrent
Name[sk]=Bit Torrent informácie
Name[sl]=Podatki o BitTorrentu
Name[sr]=Bit Torrent информације
Name[sr@Latn]=Bit Torrent informacije
Name[sv]=Information om Bit Torrent
Name[ta]=பிட் டோர்ரெண்ட் தகவல்
Name[tr]=Bit Torrent Bilgisi
Name[uk]=Інформація про Bit Torrent
Name[zh_CN]=BitTorrent 信息
Name[zh_HK]=Bit Torrent 資訊
Name[zh_TW]=Bit Torrent 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_torrent
# change MimeType here! (example: inode/directory)
MimeType=application/x-bittorrent
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=
